<% content_for :turbo_native_title, "Create an account" %>

<% if @user.errors.any? %>
  <%= render "shared/components/form/errors", name: "account", errors: @user.errors %>
<% end %>

<div class="flex min-h-full flex-col justify-center px-6 py-8 sm:py-12 lg:px-8 turbo-native:p-0">
  <div class="sm:mx-auto sm:w-full sm:max-w-sm turbo-native:hidden">
    <h2 class="text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Create an account</h2>
  </div>
  <div class="mt-6 sm:mx-auto sm:w-full sm:max-w-sm turbo-native:mt-0">
    <%= strada_form_with model: @user, html: {"data-turbo-action": "replace"}, class: "space-y-6" do |form| %>
      <div>
        <%= form.label :email, "Email address", class: "form-label" %>
        <%= form.email_field :email, autocomplete: "email", required: true, class: "form-input" %>
      </div>
      <div>
        <%= form.label :password, class: "form-label" %>
        <%= form.password_field :password, autocomplete: "new-password", required: true, class: "form-input" %>
      </div>
      <div>
        <%= form.label :password_confirmation, "Confirm password", class: "form-label" %>
        <%= form.password_field :password_confirmation, autocomplete: "new-password", required: true, class: "form-input" %>
      </div>
      <div>
        <%= form.submit "Create account", "data-bridge-title": "Register", class: "btn-primary w-full" %>
      </div>
    <% end %>
    <p class="mt-10 text-center text-sm text-gray-500">Already have an account? <%= link_to "Sign in", new_session_path, class: "font-semibold leading-6 text-primary-600 hover:text-primary-500" %></p>
  </div>
</div>
