<!DOCTYPE html>
<html class="h-full">
  <head>
    <title>DailyLog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="h-full">
    <%= render "shared/header", title: content_for(:title) %>
    <%= render "shared/flash" %>

    <main>
      <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 my-4 sm:my-6">
        <%= yield %>
      </div>
    </main>
  </body>
</html>
