<% content_for :title, "New medication entry" %>

<%= render "form", entry: @entry, date: @date %>

<!--
	# add recent section in medication new page view
-->

<% if @recent_medication_entries.any? %>
	<div class="pb-5 mt-10">
      <h3 class="text-base font-semibold leading-6 text-gray-900">Recent entries</h3>
      <p class="mt-2 max-w-4xl text-sm text-gray-500">Tap to add</p>
    </div>
    <div class="flex space-x-4">
      <% @recent_medication_entries.each do |medication_entry| %>
        <div class="relative flex items-center space-x-3 rounded-lg border border-gray-300 bg-white px-8 py-5 shadow-sm focus-within:ring-2 focus-within:ring-primary-500 focus-within:ring-offset-2 hover:border-gray-400">
          <div class="min-w-0">
            <%= form_with model: @entry, html: {"data-turbo-action": "replace"} do |form| %>
              <%= form.hidden_field :name, value: medication_entry.name %>
              <%= form.hidden_field :occurred_on, value: @date %>
              <%= form.button type: "submit", class: "focus:outline-none" do %>
                <span class="absolute inset-0" aria-hidden="true"></span>
                <p class="text-sm font-medium text-gray-900"><%= medication_entry.name %></p>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
<%end%>