<% content_for :title, "New food entry" %>

<% if @entry.errors.any? %>
  <%= render "shared/components/form/errors", name: "food", errors: @entry.errors %>
<% end %>

<%= form_with model: @entry, html: {"data-turbo-action": "replace"}, class: "max-w-lg mx-auto" do |form| %>
  <div class="border-b border-gray-900/10 pb-12">
    <div class="mt-10">
      <%= form.label :name, "What did you eat?", class: "block text-sm font-medium leading-6 text-gray-900" %>
      <div class="mt-2">
        <%= form.text_field :name, class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-primary-600 sm:text-sm sm:leading-6" %>
      </div>
    </div>
    <div class="mt-10">
      <%= form.label :occurred_on, "When?", class: "block text-sm font-medium leading-6 text-gray-900" %>
      <div class="mt-2">
        <%= form.date_field :occurred_on, value: Date.today, class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-primary-600 sm:text-sm sm:leading-6" %>
      </div>
    </div>
    <div class="relative flex items-start mt-10">
      <div class="flex h-6 items-center">
        <%= form.check_box :out, class: "h-4 w-4 rounded border-gray-300 text-primary-600 focus:ring-primary-600" %>
      </div>
      <div class="ml-3 text-sm leading-6">
        <%= form.label :out, "Did you eat this meal out?", class: "font-medium text-gray-900" %>
      </div>
    </div>
  </div>
  <div class="mt-6 flex items-center justify-end gap-x-6">
    <%= form.submit "Save", class: "rounded-md bg-primary-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-primary-500 cursor-pointer focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary-600" %>
  </div>
<% end %>
